.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.about p {
    margin: 1em;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    font-family: Spectral, sans-serif;
}

h2 {
    font-size: 20px;
    line-height: 40px;
    font-family: Karla, sans-serif;
}

.about img {
    height: 150px;
    width: 100px;
    border: 2px solid rgb(75, 5, 75);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}